<div class="container #f5f5f5 grey lighten-4">

    <div class="row">
        <h1>Scraper Go Scraping: New York Times</h1>
        <h3><i>Check out the latest headlines from the New York Times. First, click the scrape button below to save headlines to the database. Then refresh the articles to pull them into the page. Feel free to add notes to the headlines too!</i></h3>
        <br>
        <a class="waves-effect waves-light btn-large" href="/scrape">Scrape!</a>
        <a class="waves-effect waves-light btn-large" onClick="refreshPage()">Refresh Articles</a>        
        <br>
        <br>
        <br>

        {{#each result}}

        <div class="card #fafafa grey lighten-5">
            <div class="card-content">

                <div>
                    <a href="{{this.link}}">
                        <h4>{{this.title}}</h4>
                    </a>
                </div>

                <div>
                    <a href="{{this.link}}">
                        <h5>{{this.summary}}</h5>
                    </a>
                    <br>
                    <a href="/headlines/{{this._id}}" class="waves-effect waves-light btn-large">Note</a>
                </div>

            </div>
        </div>

    <br> {{/each}}
    </div>
</div>

