<div class="container #f5f5f5 grey lighten-4">
    <div class="row">
        <h1>Scraper Go Scraping: New York Times</h1>
        <h2>Notes for this headline</h2>
        <br>
        <br>

        <div class="row">
            <h2><a href="{{result.link}}" target="_blank">{{result.title}}</a></h2>
            <h5>{{result.summary}}</h5>
        </div>

        <div class="row">
            {{#unless result.note}}
            <h5>There are no Notes on this headline. Please add yours below!</h5>
            {{/unless}}
        </div>

        <div class="row">
            <ul>
                {{#each result.note}}
                <li>
                    <h5>Name: {{this.name}}</h5>
                    <p>Message: {{this.body}}</p>
                </li>
                {{/each}}
            </ul>
        </div>

        <div class="row">
            <h4>Post a note to this headline.</h4>
        </div>

        <form method="POST" action="/headlines/{{result._id}}">
            <div class="row">
                <div class="input-field col s6">
                    <input class="form-control" placeholder="Your Name Goes Here" name="name" id="name" type="text" class="validate" required>
                    <label for="name">Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="body" name="body" class="materialize-textarea" required></textarea>
                    <label for="body">Type your note here</label>
                </div>
            </div>
            <div class="row">
                <button class="waves-effect waves-light btn-large" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>